<section class="intro">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-10 col-md-offset-1">
        <%= image_tag('showcase-icon.svg', class: "img-responsive") %>
        <h1>Binnacle Showcase</h1>
        <p>This sample Rails 5 application showcases most of the features Binnacle provides for Rails Applications.</p>
        <p>Feel free to use it as a foundation, or take the pieces that suit your needs.</p>
        <%= link_to('Sign Up for Free', new_user_registration_path, :class => 'btn') %>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</section> <!-- /intro -->

<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
      <%- unless user_signed_in? %>
        <h2>Getting Started</h2>
        <p>Create a sample user by signing up above to start exploring what Binnacle can do for your Rails applications!</p>
      <% end %>
        <h2>What Can Binnacle Do for Your Rails Applications?</h2>
        <p>Binnacle receives HTTP signals and reacts to those signals based on recipes you create to:</p>
        <ul>
          <li>Send Browser Native Web Push Notifications to all major browsers.</li>
          <li>Broadcast the incoming signals to subcribers using WebSockets, Server Sent Events (SSE), Long-Polling, HTTP Streaming (Forever frame), or JSONP.</li>
          <li>Send emails in response to an incoming signal.</li>
          <li>Send SMS messages in response to an incoming signal.</li>
          <li>Post to Twitter, Slack, many other available integrations and your own defined webhooks.</li>
        </ul>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</section>
