<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Binnacle Showcase</h1>
  <p>This sample Rails 4 application showcases most of the features Binnacle provides for Rails Applications.</p>
  <p>Feel free to use it as a foundation, or take the pieces that suit your needs.</p>
</div>

<div class="bs-callout bs-callout-info">
  <h4>Getting Started</h4>
  <p>Create a sample user by signing up above to start exploring what Binnacle can do for your Rails applications!</p>
</div>
