<section class="intro">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
        <%= image_tag('chat.svg', class: "img-responsive") %>
        <h1>Chat Widget</h1>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</section> <!-- /intro -->
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Binnacle Powered Chat</h2>
        <p>The Binnacle Chat Widget for Rails is a simple plugin that provides a Rails View Helper which gives you a floating chat window powered by Binnacle.</p>
        <p>To test the chat widget, launch the application on another browser, create another user and start chatting!</p>
        <figure class="highlight">
<pre class="prettyprint"><%%= chat(identity: current_user.email, email: current_user.email, display_name: current_user.name) %></pre>
        </figure>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->
</section> <!-- /content -->

<%= chat(identity: current_user.email, email: current_user.email, display_name: current_user.name) %>
