<div class="page-header">
  <h1>Uptime Service</h1>
</div>

<div class="bs-callout bs-callout-info">
  <h4>Binnacle Provides an Uptime Service</h4>
  <p>This showcase app uses the <a href="https://github.com/sportngin/okcomputer">okcomputer gem</a> to provide a <%= link_to 'healthcheck endpoint', okcomputer_url %></p>
  <p>Use the full URL of the deployed app when configuring the uptime service:</p>
  <figure class="highlight">
    <pre>
      <code>
<%= okcomputer_url %>
      </code>
    </pre>
  </figure>
</div>
